/out/
qemu-ipq5018/vendor/
qemu-ipq5018/out/
qemu-ipq5018/images/
qemu-fullhan-im7/vendor/
qemu-fullhan-im7/out/
qemu-fullhan-im7/images/
qemu-amlogic-gxl/vendor/
qemu-amlogic-gxl/out/
qemu-amlogic-gxl/images/
__pycache__/
